@using Amlakapp.Entities
@model Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container-fluid">
    @*<h1 class="mt-4">Product Mangement</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Product Management</li>
        </ol>*@
    <div class="card mb-4">
        @{
            if (TempData["Success"] != null)
            {
                <text>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Success"]
                    </div>
                </text>
                TempData["Success"] = null;
            }
            if (TempData["Failed"] != null)
            {
                <text><div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Failed"]
                    </div>
                </text>
                TempData["Failed"] = null;
            }
        }

    </div>
    <br />
    <br />
    @using (Html.BeginForm("CreateProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", Role = "form" }))
    {
        @*@Html.HiddenFor(x => x.ProductID)*@
    <div class="container">
        <div class="card mb-4">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Product Details</li>
            </ol>
            <div class="card-body">
                <div class="py-5 text-center">
                    @*<img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">*@
                    @*<h2>Product Registration form</h2>*@
                    <p class="lead">Please enter below all information related to Product.</p>
                </div>
                <div class="row">

                    <div class="col-md-12 order-md-1">
                        <h4 class="mb-3">Product Details</h4>
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="productname">Product name</label>
                                    @Html.TextBoxFor(x => x.ProdcutName, new { @class = "form-control", @placeholder="Product name" })
                                    @*<input type="text" class="form-control" id="productname" placeholder="ProductName" value="" required>
                                    <div class="invalid-feedback">
                                        Valid product name is required.
                                    </div>*@
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="productquantity">Product Quantity</label>
                                    @Html.TextBoxFor(x => x.ProductQuantity, new {@class = "form-control" , @placeholder="Product quantity",@type = "number"}) 
                                    @*<input type="number" class="form-control" id="productquantity" placeholder="ProductQuantity" value="" required>
                                    <div class="invalid-feedback">
                                        Valid product quantity is required.
                                    </div>*@

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="productstatus">Product Status @*<span class="text-muted">(Optional)</span>*@</label>
                                    @*<input type="text" class="form-control" id="productstatus" placeholder="ProductStatus">*@

                                    @Html.DropDownListFor( x => x.ProductStatus, new List<SelectListItem>{
                                            new SelectListItem { Text = "In-Active", Value = "false" },
                                            new SelectListItem { Text = "Active", Value = "true" }
                                        }, "Select Product Status", new { @class = "form-control custom-select d-block", @required = "required" })
                                    

                                    @*<div class="invalid-feedback">
            Your product status is required.
        </div>*@
                                </div>
                            </div>

                            @*<div class="mb-3">
                                    <label for="productstatus">Product Status</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input type="text" class="form-control" id="productstatus" placeholder="ProductStatus" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Your product status is required.
                                        </div>
                                    </div>
                                </div>*@


                            <div class="mb-3">
                                <label for="productprice">Product Price @*<span class="text-muted">(Optional)</span>*@</label>
                                @Html.TextBoxFor(x => x.ProductPrice, new { @class = "form-control", @placeholder = "Product price" })
                                @*<input type="number" class="form-control" id="productprice" placeholder="ProductPrice">
        <div class="invalid-feedback">
            Please enter a valid productprice.
        </div>*@
                            </div>


                            <hr class="mb-4">
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Submit</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>

    }

</div>

