@using Amlakapp.Entities
@model IEnumerable<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Product Management</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Product Management</li>
    </ol>
    <div class="card mb-4">
        @{
            if (TempData["Success"] != null)
            {
                <text>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Success"]
                    </div>
                </text>
                TempData["Success"] = null;
            }
            if (TempData["Failed"] != null)
            {
                <text><div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Failed"]
                    </div>
                </text>
                TempData["Failed"] = null;
            }
        }

    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Product List</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Prodcut Name</th>
                            <th>Product Quantity</th>
                            <th>Product Status</th>
                            <th>Product Price</th>
                            @*<th>Added By</th>*@
                            <th>Added Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductID</td>
                                <td>@item.ProdcutName</td>
                                <td>@item.ProductQuantity</td>
                                <td>
                                                                @{
                                                                    string type = "";
                                                                    if (item.ProductStatus == true)
                                                                    {
                                                                        type = "Active";
                                                                    }
                                                                    if (item.ProductStatus == false)
                                                                    {
                                                                        type = "In-Active";
                                                                    } }
                                                                @type
                                                            </td>
                                <td>@item.ProductPrice
                                
                                
                               
                                </td>
                                @*<td> 
                                @{ 
                                    string name = "";
                                    db_amlakEntities db = new db_amlakEntities();
                                    if (item.AddedBy!=null)
                                    {
                                        name = db.Users.Find(item.AddedBy).UserName;
                                    }
                                }
                                @name
                                </td>*@
                                <td>@item.AddedDate</td>
                                @*<td></td>

                                    <td>
                                        @{
                                            string type = "";
                                            if (item.UserType == 50)
                                            {
                                                type = "Customer";
                                            }
                                            if (item.UserType == 99)
                                            {
                                                type = "Admin";
                                            } }
                                        @type
                                    </td>
                                    <td>@item.AddedDate</td>*@
                                <td>
                                    <a href="#">Edit </a>|
                                    <a href="#">Delete </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

