
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">


    <div class="card mb-4">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Apply</li>
        </ol>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-12">
                    <form method="post" class="form-horizontal" action="#" novalidate="novalidate">
                        <div class="container">
                            <div class="card mb-4">

                                <div class="card-body">
                                    <div class="py-5 text-center">

                                        <h4>Job Application</h4>
                                        <p class="lead">Please enter below all information related to Job.</p>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-12 order-md-1">
                                            <h4 class="mb-3">Applicant information</h4>

                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="name">Full Name</label>
                                                    <input type="text" class="form-control" id="name" placeholder="Full Name" />
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="email">Email Adress</label>
                                                    <input type="email" class="form-control" id="email" placeholder="abc@gmail.com" />
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="phone">Phone Number</label>
                                                    <input type="number" id="phone" class="form-control" placeholder="Phone Number" />
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="linkedin">LinkedIn</label>
                                                    <input type="text" id="linkedin" class="form-control" placeholder="LinkedIn" />
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="postapplied">Post Applied</label>
                                                    @*<input type="text" id="postapplied" class="form-control" placeholder="Post Applied" />*@
                                                    <select id="postapplied" name="postapplied" class="form-control">
                                                        <option disabled selected>Choose to select</option>
                                                        <option value="1">Intern</option>
                                                        <option value="2">Jounior Developer</option>
                                                        <option value="3">Developer</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="hear">How did you hear about us ?</label>
                                                    @*<input type="text" id="hear" class="form-control"  />*@
                                                    <select id="hear" name="hear" class="form-control">
                                                        <option disabled selected>Choose to select</option>
                                                        <option value="1">Job search</option>
                                                        <option value="2">Social Media</option>
                                                        <option value="3">Reference</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="startdate">Available Start Date</label>
                                                    <input type="date" id="startdate" class="form-control" placeholder="" />
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="cv">Upload Cv</label>
                                                    <input type="file" id="cv" class="form-control " placeholder="" />
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 mb-3">
                                                    <label for="coverlater">Cover Later</label>
                                                    <textarea type="text" id="coverlater" class="form-control" placeholder="" ></textarea>
                                                </div>

                                            </div>
                                            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>



                </div>


            </div>
        </div>
    </div>
</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

