@using Amlakapp.Entities
@model IEnumerable<Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Order Management</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Order Management</li>
    </ol>
    <div class="card mb-4">
        @{
            if (TempData["Success"] != null)
            {
                <text>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Success"]
                    </div>
                </text>
                TempData["Success"] = null;
            }
            if (TempData["Failed"] != null)
            {
                <text><div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Failed"]
                    </div>
                </text>
                TempData["Failed"] = null;
            }
        }

    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Order List</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>OrderDate</th>
                            <th>OrderId</th>
                            <th>OrderStatus</th>
                            <th>OrderBy</th>
                            <th>DeliveryAddress</th>
                            <th>TotalPrice</th>

                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.OrderDate</td>
                            <td>
                                @item.OrderId

                            </td>
                            <td>@item.OrderStatus</td>
                            <td>@item.UserName</td>
                            <td>@item.DeliveryAddress</td>
                            <td>@item.TotalPrice</td>
                            <td>
                                <a href="/order/print?orderid=@item.OrderId">Print </a>|
                                <a href="#">Edit </a>|
                                <a href="#">Delete </a>
                            </td>
                        </tr>
                        }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

