﻿@using Amlakapp.Entities
@model Order

@{
    ViewBag.Title = "print";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 2</title>
    <link rel="stylesheet" href="~/assets/css/print.css" media="all" />
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <img src="~/assets/images/SilentSol.png">
        </div>
        <div id="company">
            <h2 class="name">SilentSol</h2>
            <div>Street 4,City Isb Pk</div>
            <div>(602) 519-0450</div>
            <div><a href="mailto:">info@silentsol.com</a></div>
        </div>
        </div>
    </header>
    @if(Model!=null)
    {
    <main>
        <div id="details" class="clearfix">
            <div id="client">

               @{ 
                   db_amlakEntities db = new db_amlakEntities();
                   User obj = db.Users.Find(Model.OrderBy);
                   }
                <div class="to">INVOICE TO:</div>
                <h2 class="name">

                    @obj.UserName
                </h2>
                <div class="address">@Model.DeliveryAddress</div>
                <div class="email"><a href="mailto:john@example.com">j  @obj.Email/a></div>
            </div>
            <div id="invoice">
                <h1>INVOICE 3-2-1</h1>
                <div class="date">Date of Invoice: @DateTime.Now</div>
                @*<div class="date">Due Date: 30/06/2014</div>*@
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">DESCRIPTION</th>
                    <th class="unit">UNIT PRICE</th>
                    <th class="qty">QUANTITY</th>
                    <th class="total">TOTAL</th>
                </tr>
            </thead>
            <tbody>

                @{
                    List<OrderProduct> op = db.OrderProducts.Where(x => x.OrderId == Model.OrderId && x.OrderBy == Model.OrderBy).ToList();


                    foreach (var item in op)
                    {
                       Product product = db.Products.Find(item.ProductId);

                       
                        <tr>
                            <td class="no">@item.OrderId</td>
                            <td class="desc"><h3>@product.ProdcutName</h3></td>
                            <td class="unit">@product.ProductPrice</td>
                            <td class="qty">@item.Quantity</td>
                            <td class="total">@product.ProductPrice</td>
                        </tr>
                    }
                    }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">SUBTOTAL</td>
                    <td>@Model.TotalPrice</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">TAX 0%</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">GRAND TOTAL</td>
                    <td>@Model.TotalPrice</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Thank you!</div>
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
        </div>
    </main>
    }


    <footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>
</html>

