@using Amlakapp.Entities
@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

<br />
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="container">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="py-5 text-center">
                                        @*<img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">*@
                                        <h4>Create a new account.</h4>
                                        <p class="lead">Please enter below all information related to business.</p>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-12 order-md-1">
                                            <h4 class=" col-md-3 mb-3">Business information</h4>
                                            <hr class="mb-4">
                                            <form class="needs-validation" novalidate>
                                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                                <div class="row">

                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">Business Name</label>
                                                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control" })

                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="lastName">First name</label>
                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="lastName">Last name</label>
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="cc-name">Telephone 1</label>
                                                        @Html.TextBoxFor(m => m.TelePhone1, new { @class = "form-control" })
                                                        <div class="invalid-feedback">
                                                            Name on card is required
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="cc-number">TelpPhon 2</label>
                                                        @Html.TextBoxFor(m => m.TelePhone2, new { @class = "form-control" })
                                                        <div class="invalid-feedback">
                                                            Credit card number is required
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 mb-3">
                                                        <label for="country">Building</label>
                                                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control" })
                                                        <div class="invalid-feedback">
                                                            Please select a valid country.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="state">Flat/Office/Shop</label>
                                                        @Html.TextBoxFor(m => m.ShopNo, new { @class = "form-control" })

                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="zip">Street</label>
                                                        @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="address">Town</label>
                                                        @Html.TextBoxFor(m => m.Town, new { @class = "form-control" })
                                                    </div>
                                                </div>





                                                <div class="row">
                                                    <div class="col-md-5 mb-3">
                                                        <label for="country">Country</label>
                                                        <select class="custom-select d-block w-100" id="country" required>
                                                            <option value="">Choose...</option>
                                                            <option>United States</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid country.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="state">State</label>
                                                        <select class="custom-select d-block w-100" id="state" required>
                                                            <option value="">Choose...</option>
                                                            <option>California</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid state.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="zip">Postcode</label>
                                                        @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                                                        <div class="invalid-feedback">
                                                            Postcode code required.
                                                        </div>
                                                    </div>
                                                </div>


                                                <h4 class="mb-3">Business account details</h4>
                                                <hr class="mb-4">

                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="username">Email</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                                                        </div>
                                                    </div>
                                                 
                                                        <div class="col-md-6 mb-3">
                                                            <label for="firstName">Password</label>
                                                            @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })

                                                        </div>
                                                        @*<div class="col-md-6 mb-3">
                    <label for="lastName">Confirm Password</label>
                    @Html.PasswordFor(m => m.c, new { @class = "form-control" })

                </div>*@
                                                    </div>
                                                 


                                                    <hr class="mb-4">

                                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
