@using Amlakapp.Entities
@model User
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Account";
}

<br />
<br />

@using (Html.BeginForm("edit", "Ums", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(x => x.UserID)
    <div class="container">
        <div class="card mb-4">

            <div class="card-body">
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="~/assets/images/register_i.png" alt="" width="72" height="72">
                    <h2>Account update form</h2>
                    <p class="lead">Please enter below all information related to business.</p>
                </div>

                <div class="row">

                    <div class="col-md-12 order-md-1">
                        <h4 class="mb-3">Business information</h4>
                        <form class="needs-validation" novalidate>

                            <label> Email:</label>  @Html.DisplayFor(m => m.Email, new { @class = "form-control" })


                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Business Name</label>
                                    @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", placeholder = "Enter business name" })
                                    @*<div class="invalid-feedback">
                    Valid first name is required.
                </div>*@
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="lastName">First name</label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter first name" })

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="lastName">Last name</label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter last name" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Telephone 1</label>
                                    @Html.TextBoxFor(m => m.TelePhone1, new { @class = "form-control", placeholder = "Enter telephone" })
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">TelePhon 2</label>
                                    @Html.TextBoxFor(m => m.TelePhone2, new { @class = "form-control", placeholder = "Enter telephone 2" })
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="country">Building</label>
                                    @Html.TextBoxFor(m => m.Building, new { @class = "form-control", placeholder = "Enter Building" })
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="state">Flat/Office/Shop</label>
                                    @Html.TextBoxFor(m => m.ShopNo, new { @class = "form-control", placeholder = "Enter Flat/Office/Shop" })

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Street</label>
                                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Enter Street" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Town</label>
                                    @Html.TextBoxFor(m => m.Town, new { @class = "form-control", placeholder = "Enter Town" })
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">Country</label>

                                    @Html.DropDownListFor(m => m.Country, new List<SelectListItem> {
                                   new SelectListItem { Text = "United State", Value = "United State" },
                                   new SelectListItem { Text = "Canada", Value = "Canada" },
                                       new SelectListItem { Text = "Pakistan", Value = "Pakistan" }

                               }, "Select Gender", new { @class = "custom-select d-block w-100" })


                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="state">State</label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Enter City" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Postcode</label>
                                    @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", placeholder = "Enter Postcode" })
                                    <div class="invalid-feedback">
                                        Postcode code required.
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">


                            <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
