﻿@using Amlakapp.Entities
@model IEnumerable <User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">User Management</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">User Management</li>
    </ol>
    <div class="card mb-4">
        @{
            if (TempData["Success"] != null)
            {
                <text>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Success"]
                    </div>
                </text>
                TempData["Success"] = null;
            }
            if (TempData["Failed"] != null)
            {
                <text><div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Failed"]
                    </div>
                </text>
                TempData["Failed"] = null;
            }
        }

    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>users records</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Status</th>
                            @*<th>User Type</th>*@
                            <th>Added Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Email</td>
                            <td>@item.FirstName  @item.LastName</td>
                            <td>@item.Status</td>
                            @*<td>
                            @{
                                string type = "";
                                if (item.UserType == 50)
                                {
                                    type="Customer";
                                } if (item.UserType == 99)
                                {
                                 type="Admin";
                                } }
                                @type
                            </td>*@
                            <td>@item.AddedDate</td>
                            <td> <a href="/Ums/edit?id=@item.UserID">Edit </a>|
                                 <a href="/Ums/Delete?id=@item.UserID">Delete </a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


